<app-navbar></app-navbar> 

<div >
    <h1></h1>
</div>

<div class="row" >
    <div class="col-lg-4" *ngFor="let item of peliculas">
        <div class="card mb-2" style="width: 18rem;">
            <a [routerLink]="['/detalle',item.id]"><img src="https://image.tmdb.org/t/p/w500/{{item.poster_path}}" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.overview}}</p>
                <a [routerLink]="['/detalle',item.id]" class="btn btn-primary">Detalles</a>
            </div>
        </div>
    </div>
</div>

 <app-footer></app-footer> 